@{
    <link href="~/css/Payment.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/jsdelivr.css" rel="stylesheet" />
    ViewData["Title"] = "Payment";
}

<div class="card">
    <form method="post" action="@Url.Action("Thankyou","Payment")">
        <h1 class="card__title">Enter Payment Information</h1>
        <div class="card__row">
            <div class="card__col">
                <label for="cardNumber" class="card__label">Card Number</label>
                <input type="text" class="card__input card__input--large" id="cardNumber" placeholder="xxxx-xxxx-xxxx-xxxx" onkeypress="return restrictAlphabets(event)" required />
            </div>
            <div class="card__col">
                <div><i id="cardBrand"></i></div>
            </div>
            <div class="card__col"></div>
            <div class="card__col"></div>
            <div class="card__col"></div>
            <div class="card__col"></div>
        </div>
        <div class="card__row">
            <div class="card__col">
                <label for="cardName" class="card__label">Name on Card</label>
                <input type="text" class="card__input card__input--medium" id="cardName" placeholder="Name on Card" onkeypress="return restrictNumbers(event)" required />
            </div>
        </div>
        <div class="card__row">
            <div class="card__col">
                <label for="cardExpiry" class="card__label">Expiry Date</label>
                <br />
                <select class="button-class button3" required>
                    <option value="">--Month--</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                <select class="button-class button3" required>
                    <option value="">--Year--</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                    <option value="2029">2029</option>
                    <option value="2030">2030</option>
                    <option value="2031">2031</option>
                </select>
            </div>
        </div>
        <div class="card__row">
            <div class="card__col">
                <label for="cardCcv" class="card__label">CVV</label>
                <input type="text" class="card__input card__input--medium" id="cardCcv" placeholder="xxx" onkeypress="return restrictAlphabets(event)" required />
            </div>
        </div>
        <h4>Billing Address:</h4>
        <div class="card__row">
            <div class="card__col">
                <label for="streetName" class="card__label">Street Name</label>
                <input type="text" class="card__input card__input--medium" id="streetName" placeholder="Street Name" onkeypress="return restrictNumbers(event)" required />
            </div>
            <div class="card__col">
                <label for="streetNumber" class="card__label">Street Number</label>
                <input type="text" class="card__input card__input--medium" id="streetNumber" placeholder="Street Number" onkeypress="return restrictAlphabets(event)" required />
            </div>
            <div class="card__col">
                <label for="city" class="card__label">City</label>
                <input type="text" class="card__input card__input--medium" id="city" placeholder="City" onkeypress="return restrictNumbers(event)" required />
            </div>
            <div class="card__col">
                <label for="province" class="card__label">Province</label>
                <input type="text" class="card__input card__input--medium" id="province" placeholder="Province" onkeypress="return restrictNumbers(event)" required />
            </div>
        </div>
        <div class="card__row">
            <div class="card__col">
                <label for="country" class="card__label">Country</label>
                <select class="button-class button3" required>
                    <option value="">--Country--</option>
                    <option value="Canada">Canada</option>
                    <option value="USA">USA</option>
                </select>
            </div>
            <div class="card__col">
                <label for="zipCode" class="card__label">ZIP Code</label>
                <input type="text" class="card__input card__input--medium" id="zipCode" placeholder="ZIP Code" required />
            </div>
            <div class="card__col"></div>
            <div class="card__col"></div>
            <div class="card__col"></div>
        </div>
        <button class="button-class button1" type="submit">Submit</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/cleave.js@1.6.0/dist/cleave.min.js"></script>
<script src="~/js/payment.js"></script>