@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Online Book Store</h1>
    <img src="https://dwgyu36up6iuz.cloudfront.net/heru80fdn/image/upload/c_fill,d_placeholder_thenewyorker.png,fl_progressive,g_face,h_1080,q_80,w_1920/v1590006383/thenewyorker_the-oddest-terms-used-for-antique-books-explained.jpg" alt="Books Image" height="500px" width="750px"/>
    <p> Please go to the Books Section to view, order books.</p>
    <p></p>
</div>
