<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Order completed successfully</h2>
        <p>Enjoy the book you bought and we will try to make you serve better.</p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>